$background-color: 		#f3f3f3;

$black:					#000;
$white:					#fff;

$grey-color-darker: 	#111;
$grey-color-dark: 		#555555;
$grey-color-normal: 	#666;
$grey-color-light: 		#aaa;
$grey-color-light2: 	#ddd;
$grey-color-lighter: 	#ddd;
$grey-color-lighter2: 	#ccc;
$grey-color-lightest: 	#eee;

$primary-color:			#43a3c9;

$facebook-brand-color:	#3b5998;
$twitter-brand-color:	#55acee;

$default-width:			1080px;
$on-tablet:				1080px;
$on-smaller-tablets:    1080px;
$on-phone:				1080px;

$burger-cell-height:    2px;